@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">Exchange Tool Test</h2>
        <p>
            This is POC project.
        </p>
        <br />
        
    </div>
</div>