@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<h1>Exchnage Tool Test</h1>
<RemoteAuthenticatorView Action="@Action">
    <LoggingIn>
        You are about to be redirected to Cognito Provider
    </LoggingIn>

</RemoteAuthenticatorView>



@code {
    int a = 0;
    string myurl = "login";
    [Parameter] public string? Action2 { get; set; } 
    
    private int myVar;

    [Parameter]
    public string Action
    {
        get { return myurl; }
        set { myurl = value; }
    }
    


    

  
}
