@page "/"
@inject NavigationManager NavigationManager
<h1 style="background-color:aqua"><b>Welcome to Exchange Tool Test</b></h1>



@code {
    protected override void OnInitialized()
    {
       //NavigationManager.NavigateTo("/products");
        NavigationManager.NavigateTo("/");//rajan
    }
}