@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>@ErrorMessage</div>
}
else if (Products != null && Products.Count() > 0)
{
    <ul class="list">
        @foreach (var product in Products)
        {
            <li role="presentation">
                <div class="card">
                    <CardContent Name="@product.FileName"
                                  />

                    <footer class="card-footer">

                       @* <ButtonFooter Class="edit-item"
                              IconClasses="fas  fa-edit"
                              OnClick="@(async _ => await SelectProduct.InvokeAsync(product))"
                              Label="View" />*@

                              
                        <ButtonFooter Class="view-item"
                              IconClasses="fas  fa-file"
                              OnClick="@(async _ => await SelectProduct.InvokeAsync(product))"
                              Label="View" />

                    </footer>

                </div>

            </li>
        }
    </ul>
}
else
{
    <MudPaper Class="px-8 py-4 mud-theme-primary">Loading data...</MudPaper>
}
@code {
    [Parameter] public IEnumerable<BucketObject> Products { get; set; }
    [Parameter] public EventCallback<BucketObject> DeleteProduct { get; set; }
    [Parameter] public EventCallback<BucketObject> SelectProduct { get; set; }
    [Parameter] public string ErrorMessage { get; set; }
}