<header>

    <MudAppBar>
        My Application
    </MudAppBar>
    <MudDrawer Open="true">

    </MudDrawer>
   @* <nav class="navbar has-background-dark is-dark"
         role="navigation"
         aria-label="main navigation">

        <div style="margin:0 auto; justify-content:center">
            Exchange Tool Test
        </div>

        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>
    </nav>*@
</header>