@inherits LayoutComponentBase
<div>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <HeaderBar />
    <div class="section columns">
        <NavMenu />

        
        <main class="column">

            @Body
        </main>
    </div>
</div>