<div class="column is-2">
    <nav class="menu">
        <p class="menu-label">Menu</p>
        <ul class="menu-list">
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="active-link">
                Home
            </NavLink>
            <NavLink href="/products" ActiveClass="active-link">
                List S3 Bucket Objects
            </NavLink>
            
            <NavLink href="/secured" ActiveClass="active-link">
                Secure Page
            </NavLink>
            <NavLink href="/realecutil" ActiveClass="active-link">
                RealECUtil
            </NavLink>
            <NavLink href="/cct" ActiveClass="active-link">
                CCT
            </NavLink>
            <NavLink href="/mtt" ActiveClass="active-link">
                MTT
            </NavLink>
            <NavLink href="/test-mudblazor" ActiveClass="active-link">
                Test MudBlazor
            </NavLink>
            <NavLink href="/about" ActiveClass="active-link">
                About
            </NavLink>
        </ul>
    </nav>
</div>